.principalct__formct {
    @include estr-main-cont;
    @include center-grid;
    color: colortxtmaincont;
    @include breakpoint800 {
        grid-template-columns: 100%;
        grid-template-rows: 60vh 70vh 20vh;
        grid-template-areas: 
        "datospersonalescont"
        "datoseventocont"
        "finalizarcont";
        padding: 0;
    }
    .formct__fieldct--1 {
        grid-area: datospersonalescont;
        width: 100%;
        height: 100%;
        padding: 5%;
        @include start-flex;
        @include font-subtitulos;
        @include breakpoint800 {
            @include center-flex;
            padding: 1%;
        }
        .fieldct__legendct {
            @include font-legends-contacto;
             background-color: $colorfondolegen;
            @include breakpoint800 {
                padding: 1%;
            }

        }
        .fieldct__nombrect {
            
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
                border: 1px solid black;
            }
        }
        .fieldct__edadct {
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
                border: 1px solid black;
                }
        }
        .fieldct__emailct {
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
                border: 1px solid black;
            }

        }
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
                border: 1px solid black;
            }
        }
        .fieldct__estadoct {
            label {
                @include font-legends-contacto;  
            }
            select {
                @include font-legends-contacto;
                border: 1px solid black;
                    option {
                    }
                    option {
                        

                    }
                }
        }
        .fieldct__ciudadct {
            label {
                @include font-legends-contacto;
            }
            select {
                @include font-legends-contacto;
                border: 1px solid black;
                option {
                    
                    
                }
                option {
                    
                }
                option {
                    
                    
                }
                option {
                    
                }
            }
        }
    }
    .formct__fieldct--2 {
        grid-area: datoseventocont;
        width: 100%;
        height: 100%;
        padding: 5%;
        @include start-flex;
        @include font-subtitulos;
        
        @include breakpoint800 {
            @include center-flex;
            padding: 1%;
        }
        .fieldct__legendct {
            background-color: $colorfondolegen;
            @include font-legends-contacto;
        }
        .fieldct__servicioct {
            label {
                @include font-legends-contacto;
            }
            select {
                @include font-legends-contacto;
                option {
                    
                }
                option {

                }
            }
            
            margin-bottom: 2%
        }
        .fieldct__eventoct {
            @include start-flex;
            margin-bottom: 2%;
            label {
                @include font-legends-contacto;
            }
            textarea {
                @include font-legends-contacto;
            }
        }
        .fieldct__fechact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2%;
            
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
                
            }
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
            }
        }
        .fieldct__asistentesct {
            margin-bottom: 2%;
            label {
                @include font-legends-contacto;
            }
            input {
                @include font-legends-contacto;
                border: 1px solid black;
            }
        }
        .fieldct__comentariosct {
            @include start-flex;
            margin-bottom: 2%;
            label {
                @include font-legends-contacto;
            }
            textarea {
                @include font-legends-contacto;
            }
        }
    }
    .formct__fieldct--3 {
        grid-area: finalizarcont;
        padding: 2%;
        @include center-flex;
        @include font-subtitulos;
        @include breakpoint800 {
            @include center-flex;
            padding: 1%;
        }
        .fieldct__legendct {
            @include font-legends-contacto;
            background-color: $colorfondolegen;
            
        }
        .fieldct__cancelarct {
            @include font-legends-contacto;
            margin: 0 1% 0;
        }
        .fieldct__borrarct {
            @include font-legends-contacto;
            margin: 0 1% 0;
        }
        .fieldct__enviarct {
            @include font-legends-contacto;
            margin: 0 1% 0;
        }
    }
